# Core libraries
torch==2.2.2+cpu --index-url https://download.pytorch.org/whl/cpu
transformers==4.40.1
huggingface_hub==0.23.0
tokenizers==0.19.1

# App logic
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
tqdm==4.66.2
gdown==5.1.0

# Web interface
streamlit==1.35.0